# Dependencies
node_modules
.pnp
.pnp.js

# Build
.output
.nuxt
.nitro
.cache
dist

# Environment
.env
.env.*
!.env.example

# Logs
logs
*.log
npm-debug.log*

# Editor
.vscode/*
!.vscode/extensions.json
.idea
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?

# OS
.DS_Store
Thumbs.db

# TypeScript
*.tsbuildinfo
